In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import requests

In [2]:
df = pd.read_pickle('raw_games_5yrs.pkl')

In [3]:
df['GAME_DATE'] = pd.to_datetime(df['GAME_DATE'])

In [4]:
# df = df[df['GAME_DATE'] > "2022-09-01"].sort_values(by='GAME_DATE', ascending=False)

In [5]:
# games.groupby('TEAM_ID').apply(lambda x: x)

In [6]:
df.reset_index(drop=True, inplace=True)

In [7]:
map_id_name = df[['TEAM_ID', 'TEAM_NAME']].drop_duplicates().reset_index(drop=True)

In [8]:
map_id_name

       TEAM_ID               TEAM_NAME
0   1610612737           Atlanta Hawks
1   1610612738          Boston Celtics
2   1610612739     Cleveland Cavaliers
3   1610612740    New Orleans Pelicans
4   1610612741           Chicago Bulls
5   1610612742        Dallas Mavericks
6   1610612743          Denver Nuggets
7   1610612744   Golden State Warriors
8   1610612745         Houston Rockets
9   1610612746             LA Clippers
10  1610612747      Los Angeles Lakers
11  1610612748              Miami Heat
12  1610612749         Milwaukee Bucks
13  1610612750  Minnesota Timberwolves
14  1610612751           Brooklyn Nets
15  1610612752         New York Knicks
16  1610612753           Orlando Magic
17  1610612754          Indiana Pacers
18  1610612755      Philadelphia 76ers
19  1610612756            Phoenix Suns
20  1610612757  Portland Trail Blazers
21  1610612758        Sacramento Kings
22  1610612759       San Antonio Spurs
23  1610612760   Oklahoma City Thunder
24  1610612761         Toronto Raptors
25  1610612762               Utah Jazz
26  1610612763       Memphis Grizzlies
27  1610612764      Washington Wizards
28  1610612765         Detroit Pistons
29  1610612766       Charlotte Hornets

In [9]:
df.dtypes.value_counts()

int64             13
float64            9
object             5
int32              1
datetime64[ns]     1
dtype: int64

In [10]:
feat_categorical_nunique = df.select_dtypes(include='object').nunique()

In [11]:
feat_categorical_nunique

SEASON_ID              19
TEAM_ABBREVIATION      30
TEAM_NAME              30
MATCHUP              1777
WL                      2
dtype: int64

In [12]:
df.sort_values(['GAME_DATE', 'GAME_ID', 'HOME_TEAM'], ascending=[False, False, False], inplace=True)

In [13]:
value_counts = df['GAME_ID'].value_counts()

In [14]:
value_counts

22200973      2
21900424      2
21900427      2
21900428      2
21900429      2
             ..
21801044      1
21900107      1
1622200006    1
1522200001    1
12100027      1
Name: GAME_ID, Length: 6999, dtype: int64

In [15]:
unique_values = value_counts[value_counts == 1].index.tolist()

In [16]:
unique_values

[21900024,
 1521900020,
 21900020,
 1321900006,
 1622100004,
 22100054,
 21801185,
 11900070,
 1621900004,
 1522100022,
 21900021,
 11900067,
 12100046,
 1522100017,
 21900556,
 1521900004,
 21900009,
 12100038,
 21801166,
 21900006,
 21900010,
 21900011,
 21900013,
 12200002,
 12200008,
 1522100006,
 1521900006,
 1522100004,
 1521900001,
 21801155,
 21801172,
 21900001,
 21800507,
 1521900021,
 22100060,
 1521900009,
 11900064,
 11900047,
 21801192,
 11900012,
 1521900058,
 11900021,
 11900020,
 12100012,
 12100010,
 11900018,
 1521900067,
 1521900068,
 41800132,
 1522100063,
 12100006,
 41800143,
 41800222,
 22100009,
 11900011,
 1521900054,
 21900694,
 11900009,
 12100001,
 11900008,
 11900007,
 1521900076,
 1521900077,
 41800156,
 1522100068,
 11900004,
 11900001,
 1521900079,
 1521900080,
 21900601,
 11900025,
 22100031,
 1521900030,
 21801207,
 12100052,
 21801194,
 1521900032,
 21801195,
 21801196,
 21801197,
 1621900001,
 21900568,
 12200025,
 11900057,
 1521900034,
 1522100034,
 21801205,
 12200027,
 11900053,
 11900030,
 11900052,
 12100055,
 21801211,
 1521900038,
 21900628,
 1521900040,
 1521900042,
 1522100042,
 1522100043,
 1521900046,
 21801223,
 41800312,
 1521900050,
 12200038,
 1622100003,
 22100100,
 21900027,
 21800521,
 21800924,
 21900223,
 21800917,
 52100121,
 52100101,
 21800914,
 21900230,
 22101230,
 21800911,
 21900232,
 21900425,
 21800902,
 21900242,
 21900417,
 22101218,
 22101217,
 22101216,
 22101215,
 21900251,
 21800714,
 21800716,
 21900221,
 21900218,
 21900436,
 42100113,
 42100146,
 42100125,
 42100155,
 42100105,
 21800966,
 22100150,
 21900455,
 21900188,
 42100134,
 42100143,
 21800680,
 42100163,
 42100122,
 21800947,
 21800945,
 42100102,
 21900205,
 21900207,
 21900208,
 21900210,
 22101206,
 22101204,
 22101203,
 22101154,
 11800053,
 22101169,
 11800055,
 22101166,
 21900370,
 21900317,
 11800067,
 22101157,
 11800070,
 21800815,
 21900302,
 21900327,
 21900329,
 21800777,
 21900334,
 22100243,
 21900338,
 21900354,
 21900342,
 21800795,
 21900305,
 22100290,
 11800001,
 21900283,
 11800004,
 11800006,
 11800011,
 22101191,
 21800865,
 22101188,
 21900279,
 11800024,
 22101185,
 21900285,
 22100217,
 11800029,
 11800030,
 21900287,
 11800036,
 11800037,
 21800745,
 22101179,
 21900293,
 21900387,
 21900469,
 42100204,
 42100224,
 1522200039,
 1522200046,
 21801101,
 21900060,
 1522200045,
 1522200042,
 1522200041,
 21900066,
 21801091,
 21801090,
 21900069,
 21801107,
 1522200038,
 1522200037,
 1522200036,
 1522200035,
 1522200032,
 21900077,
 21900078,
 21801078,
 1522200031,
 1522200049,
 21801108,
 21801075,
 21800532,
 1622100002,
 21801141,
 21900030,
 1622100001,
 1522200069,
 21801135,
 1522200068,
 21801129,
 21800530,
 21900044,
 21900529,
 21801121,
 21900047,
 21801119,
 21800536,
 22100082,
 21801115,
 21900052,
 21801112,
 21801110,
 1522200030,
 21900082,
 42100214,
 42100311,
 1622200001,
 1322200004,
 1322200001,
 42100406,
 42100403,
 21900492,
 42100314,
 21900489,
 21900138,
 42100227,
 21900115,
 42100217,
 21900484,
 21900144,
 21900483,
 42100235,
 21900480,
 21900150,
 21900154,
 21900155,
 21801033,
 1622200002,
 21900517,
 21900349,
 21801068,
 21801066,
 1522200021,
 21900089,
 21800571,
 1522200019,
 21900093,
 21801059,
 21801058,
 21900096,
 1622200003,
 1522200013,
 1522200012,
 21801050,
 1522200011,
 22100106,
 21801044,
 21900107,
 1622200006,
 1522200001,
 12100027]

In [17]:
df = df[~df['GAME_ID'].isin(unique_values)]

In [18]:
df = df.reset_index(drop=True)

In [19]:
df

,SEASON_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_NAME,GAME_ID,GAME_DATE,MATCHUP,WL,MIN,PTS,...,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PLUS_MINUS,HOME_TEAM
0,22022,1610612764,WAS,Washington Wizards,22200973,2023-03-05,WAS vs. MIL,L,239,111,...,20.0,36.0,56.0,21,8.0,2,9,19,-6.0,1
1,22022,1610612749,MIL,Milwaukee Bucks,22200973,2023-03-05,MIL @ WAS,W,240,117,...,8.0,38.0,46.0,30,5.0,6,12,15,6.0,0
2,22022,1610612746,LAC,LA Clippers,22200970,2023-03-05,LAC vs. MEM,W,239,135,...,13.0,40.0,53.0,25,6.0,2,17,17,6.0,1
3,22022,1610612763,MEM,Memphis Grizzlies,22200970,2023-03-05,MEM @ LAC,L,240,129,...,2.0,24.0,26.0,32,13.0,3,8,23,-6.0,0
4,22022,1610612738,BOS,Boston Celtics,22200969,2023-03-05,BOS vs. NYK,L,289,129,...,17.0,37.0,54.0,27,8.0,5,16,28,-2.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13397,22017,1610612756,PHX,Phoenix Suns,21700952,2018-03-05,PHX @ MIA,L,239,103,...,12.0,28.0,40.0,21,3.0,2,17,20,-22.0,0
13398,22017,1610612754,IND,Indiana Pacers,21700951,2018-03-05,IND vs. MIL,W,240,92,...,8.0,29.0,37.0,18,13.0,5,14,15,3.0,1
13399,22017,1610612749,MIL,Milwaukee Bucks,21700951,2018-03-05,MIL @ IND,L,240,89,...,8.0,31.0,39.0,15,8.0,7,16,16,-3.0,0
13400,22017,1610612739,CLE,Cleveland Cavaliers,21700950,2018-03-05,CLE vs. DET,W,241,112,...,11.0,42.0,53.0,29,8.0,2,14,18,22.0,1
13401,22017,1610612765,DET,Detroit Pistons,21700950,2018-03-05,DET @ CLE,L,239,90,...,8.0,32.0,40.0,17,9.0,6,11,22,-22.0,0

## PREPROCESS

In [20]:
from sklearn.preprocessing import MinMaxScaler, OneHotEncoder

In [21]:
scaler = MinMaxScaler()

In [22]:
selected_columns = ['FG_PCT', 'FG3_PCT', 'FT_PCT', 'OREB', 'DREB', 'REB', 'AST', 'STL', 'BLK', 'TOV', 'PF']

In [23]:
df[selected_columns] = scaler.fit_transform(df[selected_columns])

In [24]:
df

,SEASON_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_NAME,GAME_ID,GAME_DATE,MATCHUP,WL,MIN,PTS,...,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PLUS_MINUS,HOME_TEAM
0,22022,1610612764,WAS,Washington Wizards,22200973,2023-03-05,WAS vs. MIL,L,239,111,...,0.689655,0.466667,0.666667,0.325581,0.363636,0.10,0.25000,0.333333,-6.0,1
1,22022,1610612749,MIL,Milwaukee Bucks,22200973,2023-03-05,MIL @ WAS,W,240,117,...,0.275862,0.511111,0.470588,0.534884,0.227273,0.30,0.34375,0.230769,6.0,0
2,22022,1610612746,LAC,LA Clippers,22200970,2023-03-05,LAC vs. MEM,W,239,135,...,0.448276,0.555556,0.607843,0.418605,0.272727,0.10,0.50000,0.282051,6.0,1
3,22022,1610612763,MEM,Memphis Grizzlies,22200970,2023-03-05,MEM @ LAC,L,240,129,...,0.068966,0.200000,0.078431,0.581395,0.590909,0.15,0.21875,0.435897,-6.0,0
4,22022,1610612738,BOS,Boston Celtics,22200969,2023-03-05,BOS vs. NYK,L,289,129,...,0.586207,0.488889,0.627451,0.465116,0.363636,0.25,0.46875,0.564103,-2.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13397,22017,1610612756,PHX,Phoenix Suns,21700952,2018-03-05,PHX @ MIA,L,239,103,...,0.413793,0.288889,0.352941,0.325581,0.136364,0.10,0.50000,0.358974,-22.0,0
13398,22017,1610612754,IND,Indiana Pacers,21700951,2018-03-05,IND vs. MIL,W,240,92,...,0.275862,0.311111,0.294118,0.255814,0.590909,0.25,0.40625,0.230769,3.0,1
13399,22017,1610612749,MIL,Milwaukee Bucks,21700951,2018-03-05,MIL @ IND,L,240,89,...,0.275862,0.355556,0.333333,0.186047,0.363636,0.35,0.46875,0.256410,-3.0,0
13400,22017,1610612739,CLE,Cleveland Cavaliers,21700950,2018-03-05,CLE vs. DET,W,241,112,...,0.379310,0.600000,0.607843,0.511628,0.363636,0.10,0.40625,0.307692,22.0,1
13401,22017,1610612765,DET,Detroit Pistons,21700950,2018-03-05,DET @ CLE,L,239,90,...,0.275862,0.377778,0.352941,0.232558,0.409091,0.30,0.31250,0.410256,-22.0,0

In [25]:
ohe = OneHotEncoder(sparse=False)
ohe.fit_transform(df[['TEAM_ABBREVIATION']])
df[ohe.get_feature_names_out()] = ohe.transform(df[['TEAM_ABBREVIATION']])

/Users/juliayu001/.pyenv/versions/nba_betting_analysis/lib/python3.10/site-packages/sklearn/preprocessing/_encoders.py:828: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

In [26]:
df.drop(columns = ["TEAM_ABBREVIATION"], inplace = True)

In [27]:
df

,SEASON_ID,TEAM_ID,TEAM_NAME,GAME_ID,GAME_DATE,MATCHUP,WL,MIN,PTS,FGM,...,TEAM_ABBREVIATION_OKC,TEAM_ABBREVIATION_ORL,TEAM_ABBREVIATION_PHI,TEAM_ABBREVIATION_PHX,TEAM_ABBREVIATION_POR,TEAM_ABBREVIATION_SAC,TEAM_ABBREVIATION_SAS,TEAM_ABBREVIATION_TOR,TEAM_ABBREVIATION_UTA,TEAM_ABBREVIATION_WAS
0,22022,1610612764,Washington Wizards,22200973,2023-03-05,WAS vs. MIL,L,239,111,46,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1,22022,1610612749,Milwaukee Bucks,22200973,2023-03-05,MIL @ WAS,W,240,117,39,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,22022,1610612746,LA Clippers,22200970,2023-03-05,LAC vs. MEM,W,239,135,45,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,22022,1610612763,Memphis Grizzlies,22200970,2023-03-05,MEM @ LAC,L,240,129,50,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,22022,1610612738,Boston Celtics,22200969,2023-03-05,BOS vs. NYK,L,289,129,43,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13397,22017,1610612756,Phoenix Suns,21700952,2018-03-05,PHX @ MIA,L,239,103,42,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
13398,22017,1610612754,Indiana Pacers,21700951,2018-03-05,IND vs. MIL,W,240,92,33,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
13399,22017,1610612749,Milwaukee Bucks,21700951,2018-03-05,MIL @ IND,L,240,89,34,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
13400,22017,1610612739,Cleveland Cavaliers,21700950,2018-03-05,CLE vs. DET,W,241,112,43,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
13401,22017,1610612765,Detroit Pistons,21700950,2018-03-05,DET @ CLE,L,239,90,34,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

## COMBINING ROWS

In [28]:
df_in_process = df.drop(columns=['SEASON_ID', 'WL', 'MIN', 'MATCHUP', 'PTS', 'TEAM_ID', 'TEAM_NAME', 'FTM', 'FTA', 'FGM', 'FGA', 'FG3M', 'FG3A', 'HOME_TEAM'])

In [29]:
home_df = df_in_process.iloc[::2].reset_index(drop=True)

In [30]:
home_df

,GAME_ID,GAME_DATE,FG_PCT,FG3_PCT,FT_PCT,OREB,DREB,REB,AST,STL,...,TEAM_ABBREVIATION_OKC,TEAM_ABBREVIATION_ORL,TEAM_ABBREVIATION_PHI,TEAM_ABBREVIATION_PHX,TEAM_ABBREVIATION_POR,TEAM_ABBREVIATION_SAC,TEAM_ABBREVIATION_SAS,TEAM_ABBREVIATION_TOR,TEAM_ABBREVIATION_UTA,TEAM_ABBREVIATION_WAS
0,22200973,2023-03-05,0.414798,0.236601,0.887381,0.689655,0.466667,0.666667,0.325581,0.363636,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1,22200970,2023-03-05,0.645740,0.440523,0.922659,0.448276,0.555556,0.607843,0.418605,0.272727,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,22200969,2023-03-05,0.343049,0.364706,0.837178,0.586207,0.488889,0.627451,0.465116,0.363636,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,22200968,2023-03-05,0.594170,0.393464,0.753053,0.379310,0.355556,0.392157,0.395349,0.409091,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,22200967,2023-03-05,0.831839,0.607843,0.812754,0.206897,0.511111,0.431373,0.511628,0.454545,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6696,21700954,2018-03-05,0.493274,0.256209,0.693351,0.137931,0.377778,0.274510,0.255814,0.636364,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
6697,21700953,2018-03-05,0.345291,0.375163,0.525102,0.241379,0.311111,0.274510,0.255814,0.636364,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6698,21700952,2018-03-05,0.605381,0.334641,0.763908,0.551724,0.444444,0.568627,0.604651,0.545455,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6699,21700951,2018-03-05,0.421525,0.667974,0.677069,0.275862,0.311111,0.294118,0.255814,0.590909,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6700,21700950,2018-03-05,0.556054,0.375163,0.761194,0.379310,0.600000,0.607843,0.511628,0.363636,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [31]:
away_df = df_in_process.iloc[1::2].reset_index(drop=True)

In [32]:
away_df

,GAME_ID,GAME_DATE,FG_PCT,FG3_PCT,FT_PCT,OREB,DREB,REB,AST,STL,...,TEAM_ABBREVIATION_OKC,TEAM_ABBREVIATION_ORL,TEAM_ABBREVIATION_PHI,TEAM_ABBREVIATION_PHX,TEAM_ABBREVIATION_POR,TEAM_ABBREVIATION_SAC,TEAM_ABBREVIATION_SAS,TEAM_ABBREVIATION_TOR,TEAM_ABBREVIATION_UTA,TEAM_ABBREVIATION_WAS
0,22200973,2023-03-05,0.500000,0.486275,0.691995,0.275862,0.511111,0.470588,0.534884,0.227273,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,22200970,2023-03-05,0.677130,0.590850,0.637720,0.068966,0.200000,0.078431,0.581395,0.590909,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,22200969,2023-03-05,0.569507,0.377778,0.576662,0.379310,0.622222,0.627451,0.255814,0.318182,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,22200968,2023-03-05,0.556054,0.287582,0.748982,0.413793,0.266667,0.333333,0.534884,0.227273,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,22200967,2023-03-05,0.495516,0.322876,0.483039,0.448276,0.155556,0.254902,0.372093,0.227273,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6696,21700954,2018-03-05,0.636771,0.375163,0.548168,0.206897,0.466667,0.392157,0.441860,0.363636,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6697,21700953,2018-03-05,0.553812,0.334641,0.887381,0.413793,0.577778,0.607843,0.418605,0.318182,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6698,21700952,2018-03-05,0.542601,0.444444,0.321574,0.413793,0.288889,0.352941,0.325581,0.136364,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
6699,21700951,2018-03-05,0.461883,0.296732,0.830393,0.275862,0.355556,0.333333,0.186047,0.363636,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6700,21700950,2018-03-05,0.336323,0.360784,0.548168,0.275862,0.377778,0.352941,0.232558,0.409091,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [33]:
new_column_names = {}
for col in home_df.columns:
    new_column_names[col] = col + '_h'

# rename the columns using the dictionary
home_df = home_df.rename(columns=new_column_names)

In [34]:
new_column_names = {}
for col in away_df.columns:
    new_column_names[col] = col + '_a'

# rename the columns using the dictionary
away_df = away_df.rename(columns=new_column_names)

In [35]:
home_df.columns

Index(['GAME_ID_h', 'GAME_DATE_h', 'FG_PCT_h', 'FG3_PCT_h', 'FT_PCT_h',
       'OREB_h', 'DREB_h', 'REB_h', 'AST_h', 'STL_h', 'BLK_h', 'TOV_h', 'PF_h',
       'PLUS_MINUS_h', 'TEAM_ABBREVIATION_ATL_h', 'TEAM_ABBREVIATION_BKN_h',
       'TEAM_ABBREVIATION_BOS_h', 'TEAM_ABBREVIATION_CHA_h',
       'TEAM_ABBREVIATION_CHI_h', 'TEAM_ABBREVIATION_CLE_h',
       'TEAM_ABBREVIATION_DAL_h', 'TEAM_ABBREVIATION_DEN_h',
       'TEAM_ABBREVIATION_DET_h', 'TEAM_ABBREVIATION_GSW_h',
       'TEAM_ABBREVIATION_HOU_h', 'TEAM_ABBREVIATION_IND_h',
       'TEAM_ABBREVIATION_LAC_h', 'TEAM_ABBREVIATION_LAL_h',
       'TEAM_ABBREVIATION_MEM_h', 'TEAM_ABBREVIATION_MIA_h',
       'TEAM_ABBREVIATION_MIL_h', 'TEAM_ABBREVIATION_MIN_h',
       'TEAM_ABBREVIATION_NOP_h', 'TEAM_ABBREVIATION_NYK_h',
       'TEAM_ABBREVIATION_OKC_h', 'TEAM_ABBREVIATION_ORL_h',
       'TEAM_ABBREVIATION_PHI_h', 'TEAM_ABBREVIATION_PHX_h',
       'TEAM_ABBREVIATION_POR_h', 'TEAM_ABBREVIATION_SAC_h',
       'TEAM_ABBREVIATION_SAS_h', 'TEAM_ABBREVIATION_TOR_h',
       'TEAM_ABBREVIATION_UTA_h', 'TEAM_ABBREVIATION_WAS_h'],
      dtype='object')

In [36]:
away_df.columns

Index(['GAME_ID_a', 'GAME_DATE_a', 'FG_PCT_a', 'FG3_PCT_a', 'FT_PCT_a',
       'OREB_a', 'DREB_a', 'REB_a', 'AST_a', 'STL_a', 'BLK_a', 'TOV_a', 'PF_a',
       'PLUS_MINUS_a', 'TEAM_ABBREVIATION_ATL_a', 'TEAM_ABBREVIATION_BKN_a',
       'TEAM_ABBREVIATION_BOS_a', 'TEAM_ABBREVIATION_CHA_a',
       'TEAM_ABBREVIATION_CHI_a', 'TEAM_ABBREVIATION_CLE_a',
       'TEAM_ABBREVIATION_DAL_a', 'TEAM_ABBREVIATION_DEN_a',
       'TEAM_ABBREVIATION_DET_a', 'TEAM_ABBREVIATION_GSW_a',
       'TEAM_ABBREVIATION_HOU_a', 'TEAM_ABBREVIATION_IND_a',
       'TEAM_ABBREVIATION_LAC_a', 'TEAM_ABBREVIATION_LAL_a',
       'TEAM_ABBREVIATION_MEM_a', 'TEAM_ABBREVIATION_MIA_a',
       'TEAM_ABBREVIATION_MIL_a', 'TEAM_ABBREVIATION_MIN_a',
       'TEAM_ABBREVIATION_NOP_a', 'TEAM_ABBREVIATION_NYK_a',
       'TEAM_ABBREVIATION_OKC_a', 'TEAM_ABBREVIATION_ORL_a',
       'TEAM_ABBREVIATION_PHI_a', 'TEAM_ABBREVIATION_PHX_a',
       'TEAM_ABBREVIATION_POR_a', 'TEAM_ABBREVIATION_SAC_a',
       'TEAM_ABBREVIATION_SAS_a', 'TEAM_ABBREVIATION_TOR_a',
       'TEAM_ABBREVIATION_UTA_a', 'TEAM_ABBREVIATION_WAS_a'],
      dtype='object')

In [37]:
home_df = home_df.rename(columns={'GAME_ID_h': 'GAME_ID'})

In [38]:
away_df = away_df.rename(columns={'GAME_ID_a': 'GAME_ID'})

In [39]:
away_df = away_df.rename(columns={'GAME_DATE_h': 'GAME_DATE'})

In [40]:
away_df = away_df.drop(columns=['PLUS_MINUS_a', 'GAME_DATE_a'])

In [41]:
home_df

,GAME_ID,GAME_DATE_h,FG_PCT_h,FG3_PCT_h,FT_PCT_h,OREB_h,DREB_h,REB_h,AST_h,STL_h,...,TEAM_ABBREVIATION_OKC_h,TEAM_ABBREVIATION_ORL_h,TEAM_ABBREVIATION_PHI_h,TEAM_ABBREVIATION_PHX_h,TEAM_ABBREVIATION_POR_h,TEAM_ABBREVIATION_SAC_h,TEAM_ABBREVIATION_SAS_h,TEAM_ABBREVIATION_TOR_h,TEAM_ABBREVIATION_UTA_h,TEAM_ABBREVIATION_WAS_h
0,22200973,2023-03-05,0.414798,0.236601,0.887381,0.689655,0.466667,0.666667,0.325581,0.363636,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1,22200970,2023-03-05,0.645740,0.440523,0.922659,0.448276,0.555556,0.607843,0.418605,0.272727,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,22200969,2023-03-05,0.343049,0.364706,0.837178,0.586207,0.488889,0.627451,0.465116,0.363636,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,22200968,2023-03-05,0.594170,0.393464,0.753053,0.379310,0.355556,0.392157,0.395349,0.409091,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,22200967,2023-03-05,0.831839,0.607843,0.812754,0.206897,0.511111,0.431373,0.511628,0.454545,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6696,21700954,2018-03-05,0.493274,0.256209,0.693351,0.137931,0.377778,0.274510,0.255814,0.636364,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
6697,21700953,2018-03-05,0.345291,0.375163,0.525102,0.241379,0.311111,0.274510,0.255814,0.636364,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6698,21700952,2018-03-05,0.605381,0.334641,0.763908,0.551724,0.444444,0.568627,0.604651,0.545455,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6699,21700951,2018-03-05,0.421525,0.667974,0.677069,0.275862,0.311111,0.294118,0.255814,0.590909,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6700,21700950,2018-03-05,0.556054,0.375163,0.761194,0.379310,0.600000,0.607843,0.511628,0.363636,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [42]:
away_df

,GAME_ID,FG_PCT_a,FG3_PCT_a,FT_PCT_a,OREB_a,DREB_a,REB_a,AST_a,STL_a,BLK_a,...,TEAM_ABBREVIATION_OKC_a,TEAM_ABBREVIATION_ORL_a,TEAM_ABBREVIATION_PHI_a,TEAM_ABBREVIATION_PHX_a,TEAM_ABBREVIATION_POR_a,TEAM_ABBREVIATION_SAC_a,TEAM_ABBREVIATION_SAS_a,TEAM_ABBREVIATION_TOR_a,TEAM_ABBREVIATION_UTA_a,TEAM_ABBREVIATION_WAS_a
0,22200973,0.500000,0.486275,0.691995,0.275862,0.511111,0.470588,0.534884,0.227273,0.30,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,22200970,0.677130,0.590850,0.637720,0.068966,0.200000,0.078431,0.581395,0.590909,0.15,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,22200969,0.569507,0.377778,0.576662,0.379310,0.622222,0.627451,0.255814,0.318182,0.20,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,22200968,0.556054,0.287582,0.748982,0.413793,0.266667,0.333333,0.534884,0.227273,0.40,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,22200967,0.495516,0.322876,0.483039,0.448276,0.155556,0.254902,0.372093,0.227273,0.20,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6696,21700954,0.636771,0.375163,0.548168,0.206897,0.466667,0.392157,0.441860,0.363636,0.25,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6697,21700953,0.553812,0.334641,0.887381,0.413793,0.577778,0.607843,0.418605,0.318182,0.20,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6698,21700952,0.542601,0.444444,0.321574,0.413793,0.288889,0.352941,0.325581,0.136364,0.10,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
6699,21700951,0.461883,0.296732,0.830393,0.275862,0.355556,0.333333,0.186047,0.363636,0.35,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6700,21700950,0.336323,0.360784,0.548168,0.275862,0.377778,0.352941,0.232558,0.409091,0.30,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [43]:
combined_df = pd.merge(home_df, away_df, on='GAME_ID')
combined_df

,GAME_ID,GAME_DATE_h,FG_PCT_h,FG3_PCT_h,FT_PCT_h,OREB_h,DREB_h,REB_h,AST_h,STL_h,...,TEAM_ABBREVIATION_OKC_a,TEAM_ABBREVIATION_ORL_a,TEAM_ABBREVIATION_PHI_a,TEAM_ABBREVIATION_PHX_a,TEAM_ABBREVIATION_POR_a,TEAM_ABBREVIATION_SAC_a,TEAM_ABBREVIATION_SAS_a,TEAM_ABBREVIATION_TOR_a,TEAM_ABBREVIATION_UTA_a,TEAM_ABBREVIATION_WAS_a
0,22200973,2023-03-05,0.414798,0.236601,0.887381,0.689655,0.466667,0.666667,0.325581,0.363636,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,22200970,2023-03-05,0.645740,0.440523,0.922659,0.448276,0.555556,0.607843,0.418605,0.272727,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,22200969,2023-03-05,0.343049,0.364706,0.837178,0.586207,0.488889,0.627451,0.465116,0.363636,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,22200968,2023-03-05,0.594170,0.393464,0.753053,0.379310,0.355556,0.392157,0.395349,0.409091,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,22200967,2023-03-05,0.831839,0.607843,0.812754,0.206897,0.511111,0.431373,0.511628,0.454545,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6696,21700954,2018-03-05,0.493274,0.256209,0.693351,0.137931,0.377778,0.274510,0.255814,0.636364,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6697,21700953,2018-03-05,0.345291,0.375163,0.525102,0.241379,0.311111,0.274510,0.255814,0.636364,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6698,21700952,2018-03-05,0.605381,0.334641,0.763908,0.551724,0.444444,0.568627,0.604651,0.545455,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
6699,21700951,2018-03-05,0.421525,0.667974,0.677069,0.275862,0.311111,0.294118,0.255814,0.590909,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6700,21700950,2018-03-05,0.556054,0.375163,0.761194,0.379310,0.600000,0.607843,0.511628,0.363636,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [44]:
combined_df.columns

Index(['GAME_ID', 'GAME_DATE_h', 'FG_PCT_h', 'FG3_PCT_h', 'FT_PCT_h', 'OREB_h',
       'DREB_h', 'REB_h', 'AST_h', 'STL_h', 'BLK_h', 'TOV_h', 'PF_h',
       'PLUS_MINUS_h', 'TEAM_ABBREVIATION_ATL_h', 'TEAM_ABBREVIATION_BKN_h',
       'TEAM_ABBREVIATION_BOS_h', 'TEAM_ABBREVIATION_CHA_h',
       'TEAM_ABBREVIATION_CHI_h', 'TEAM_ABBREVIATION_CLE_h',
       'TEAM_ABBREVIATION_DAL_h', 'TEAM_ABBREVIATION_DEN_h',
       'TEAM_ABBREVIATION_DET_h', 'TEAM_ABBREVIATION_GSW_h',
       'TEAM_ABBREVIATION_HOU_h', 'TEAM_ABBREVIATION_IND_h',
       'TEAM_ABBREVIATION_LAC_h', 'TEAM_ABBREVIATION_LAL_h',
       'TEAM_ABBREVIATION_MEM_h', 'TEAM_ABBREVIATION_MIA_h',
       'TEAM_ABBREVIATION_MIL_h', 'TEAM_ABBREVIATION_MIN_h',
       'TEAM_ABBREVIATION_NOP_h', 'TEAM_ABBREVIATION_NYK_h',
       'TEAM_ABBREVIATION_OKC_h', 'TEAM_ABBREVIATION_ORL_h',
       'TEAM_ABBREVIATION_PHI_h', 'TEAM_ABBREVIATION_PHX_h',
       'TEAM_ABBREVIATION_POR_h', 'TEAM_ABBREVIATION_SAC_h',
       'TEAM_ABBREVIATION_SAS_h', 'TEAM_ABBREVIATION_TOR_h',
       'TEAM_ABBREVIATION_UTA_h', 'TEAM_ABBREVIATION_WAS_h', 'FG_PCT_a',
       'FG3_PCT_a', 'FT_PCT_a', 'OREB_a', 'DREB_a', 'REB_a', 'AST_a', 'STL_a',
       'BLK_a', 'TOV_a', 'PF_a', 'TEAM_ABBREVIATION_ATL_a',
       'TEAM_ABBREVIATION_BKN_a', 'TEAM_ABBREVIATION_BOS_a',
       'TEAM_ABBREVIATION_CHA_a', 'TEAM_ABBREVIATION_CHI_a',
       'TEAM_ABBREVIATION_CLE_a', 'TEAM_ABBREVIATION_DAL_a',
       'TEAM_ABBREVIATION_DEN_a', 'TEAM_ABBREVIATION_DET_a',
       'TEAM_ABBREVIATION_GSW_a', 'TEAM_ABBREVIATION_HOU_a',
       'TEAM_ABBREVIATION_IND_a', 'TEAM_ABBREVIATION_LAC_a',
       'TEAM_ABBREVIATION_LAL_a', 'TEAM_ABBREVIATION_MEM_a',
       'TEAM_ABBREVIATION_MIA_a', 'TEAM_ABBREVIATION_MIL_a',
       'TEAM_ABBREVIATION_MIN_a', 'TEAM_ABBREVIATION_NOP_a',
       'TEAM_ABBREVIATION_NYK_a', 'TEAM_ABBREVIATION_OKC_a',
       'TEAM_ABBREVIATION_ORL_a', 'TEAM_ABBREVIATION_PHI_a',
       'TEAM_ABBREVIATION_PHX_a', 'TEAM_ABBREVIATION_POR_a',
       'TEAM_ABBREVIATION_SAC_a', 'TEAM_ABBREVIATION_SAS_a',
       'TEAM_ABBREVIATION_TOR_a', 'TEAM_ABBREVIATION_UTA_a',
       'TEAM_ABBREVIATION_WAS_a'],
      dtype='object')

## X, y

In [45]:
X = combined_df.drop(columns=['PLUS_MINUS_h'])
y = combined_df.PLUS_MINUS_h

In [46]:
# X.drop(columns=['SEASON_ID', 'WL', 'MIN', 'MATCHUP', 'PTS', 'TEAM_ABBREVIATION', 'TEAM_NAME', 'FTM', 'FTA', 'FGM', 'FGA', 'FG3M', 'FG3A'], inplace=True)

In [47]:
X.columns

Index(['GAME_ID', 'GAME_DATE_h', 'FG_PCT_h', 'FG3_PCT_h', 'FT_PCT_h', 'OREB_h',
       'DREB_h', 'REB_h', 'AST_h', 'STL_h', 'BLK_h', 'TOV_h', 'PF_h',
       'TEAM_ABBREVIATION_ATL_h', 'TEAM_ABBREVIATION_BKN_h',
       'TEAM_ABBREVIATION_BOS_h', 'TEAM_ABBREVIATION_CHA_h',
       'TEAM_ABBREVIATION_CHI_h', 'TEAM_ABBREVIATION_CLE_h',
       'TEAM_ABBREVIATION_DAL_h', 'TEAM_ABBREVIATION_DEN_h',
       'TEAM_ABBREVIATION_DET_h', 'TEAM_ABBREVIATION_GSW_h',
       'TEAM_ABBREVIATION_HOU_h', 'TEAM_ABBREVIATION_IND_h',
       'TEAM_ABBREVIATION_LAC_h', 'TEAM_ABBREVIATION_LAL_h',
       'TEAM_ABBREVIATION_MEM_h', 'TEAM_ABBREVIATION_MIA_h',
       'TEAM_ABBREVIATION_MIL_h', 'TEAM_ABBREVIATION_MIN_h',
       'TEAM_ABBREVIATION_NOP_h', 'TEAM_ABBREVIATION_NYK_h',
       'TEAM_ABBREVIATION_OKC_h', 'TEAM_ABBREVIATION_ORL_h',
       'TEAM_ABBREVIATION_PHI_h', 'TEAM_ABBREVIATION_PHX_h',
       'TEAM_ABBREVIATION_POR_h', 'TEAM_ABBREVIATION_SAC_h',
       'TEAM_ABBREVIATION_SAS_h', 'TEAM_ABBREVIATION_TOR_h',
       'TEAM_ABBREVIATION_UTA_h', 'TEAM_ABBREVIATION_WAS_h', 'FG_PCT_a',
       'FG3_PCT_a', 'FT_PCT_a', 'OREB_a', 'DREB_a', 'REB_a', 'AST_a', 'STL_a',
       'BLK_a', 'TOV_a', 'PF_a', 'TEAM_ABBREVIATION_ATL_a',
       'TEAM_ABBREVIATION_BKN_a', 'TEAM_ABBREVIATION_BOS_a',
       'TEAM_ABBREVIATION_CHA_a', 'TEAM_ABBREVIATION_CHI_a',
       'TEAM_ABBREVIATION_CLE_a', 'TEAM_ABBREVIATION_DAL_a',
       'TEAM_ABBREVIATION_DEN_a', 'TEAM_ABBREVIATION_DET_a',
       'TEAM_ABBREVIATION_GSW_a', 'TEAM_ABBREVIATION_HOU_a',
       'TEAM_ABBREVIATION_IND_a', 'TEAM_ABBREVIATION_LAC_a',
       'TEAM_ABBREVIATION_LAL_a', 'TEAM_ABBREVIATION_MEM_a',
       'TEAM_ABBREVIATION_MIA_a', 'TEAM_ABBREVIATION_MIL_a',
       'TEAM_ABBREVIATION_MIN_a', 'TEAM_ABBREVIATION_NOP_a',
       'TEAM_ABBREVIATION_NYK_a', 'TEAM_ABBREVIATION_OKC_a',
       'TEAM_ABBREVIATION_ORL_a', 'TEAM_ABBREVIATION_PHI_a',
       'TEAM_ABBREVIATION_PHX_a', 'TEAM_ABBREVIATION_POR_a',
       'TEAM_ABBREVIATION_SAC_a', 'TEAM_ABBREVIATION_SAS_a',
       'TEAM_ABBREVIATION_TOR_a', 'TEAM_ABBREVIATION_UTA_a',
       'TEAM_ABBREVIATION_WAS_a'],
      dtype='object')

In [48]:
# X.to_pickle('X_basic_df_2022-09-01.pkl')

In [49]:
# y.to_pickle('y_basic_df_2022-09-01.pkl')

In [50]:
X.to_pickle('X_basic_df_5yrs_preprocessed.pkl')

In [51]:
y.to_pickle('y_basic_df_5yrs_preprocessed.pkl')