In [113]:
import pandas as pd
import numpy as np

In [114]:
basic = pd.read_pickle('raw_games_5yrs.pkl')
advanced = pd.read_pickle('boxscores_advanced_team_part1.pkl')

In [115]:
basic = basic.sort_values(by=['GAME_DATE', 'GAME_ID'], ascending=False).reset_index(drop=True)

In [116]:
basic.columns

Index(['SEASON_ID', 'TEAM_ID', 'TEAM_ABBREVIATION', 'TEAM_NAME', 'GAME_ID',
       'GAME_DATE', 'MATCHUP', 'WL', 'MIN', 'PTS', 'FGM', 'FGA', 'FG_PCT',
       'FG3M', 'FG3A', 'FG3_PCT', 'FTM', 'FTA', 'FT_PCT', 'OREB', 'DREB',
       'REB', 'AST', 'STL', 'BLK', 'TOV', 'PF', 'PLUS_MINUS', 'HOME_TEAM'],
      dtype='object')

In [117]:
games_df = basic[['TEAM_ID', 'TEAM_ABBREVIATION', 'GAME_ID', 'GAME_DATE', 'HOME_TEAM', 'PTS', 'PLUS_MINUS']].copy()
games_df.head()

,TEAM_ID,TEAM_ABBREVIATION,GAME_ID,GAME_DATE,HOME_TEAM,PTS,PLUS_MINUS
0,1610612749,MIL,22200973,2023-03-05,0,117,6.0
1,1610612764,WAS,22200973,2023-03-05,1,111,-6.0
2,1610612746,LAC,22200970,2023-03-05,1,135,6.0
3,1610612763,MEM,22200970,2023-03-05,0,129,-6.0
4,1610612738,BOS,22200969,2023-03-05,1,129,-2.0

In [118]:
advanced.head()

,GAME_ID,TEAM_ID,TEAM_NAME,TEAM_ABBREVIATION,TEAM_CITY,MIN,E_OFF_RATING,OFF_RATING,E_DEF_RATING,DEF_RATING,...,TM_TOV_PCT,EFG_PCT,TS_PCT,USG_PCT,E_USG_PCT,E_PACE,PACE,PACE_PER40,POSS,PIE
0,0022200963,1610612754,Pacers,IND,Indiana,240:00,128.8,133.0,127.1,131.2,...,9.6,0.596,0.619,1.0,0.196,96.52,93.5,77.92,94,0.502
1,0022200963,1610612741,Bulls,CHI,Chicago,240:00,127.1,131.2,128.8,133.0,...,16.1,0.676,0.718,1.0,0.198,96.52,93.5,77.92,93,0.498
0,0022200962,1610612756,Suns,PHX,Phoenix,240:00,130.0,134.0,127.6,128.6,...,9.3,0.618,0.650,1.0,0.200,99.36,97.5,81.25,97,0.539
1,0022200962,1610612742,Mavericks,DAL,Dallas,240:00,127.6,128.6,130.0,134.0,...,10.2,0.591,0.672,1.0,0.197,99.36,97.5,81.25,98,0.461
0,0022200964,1610612747,Lakers,LAL,Los Angeles,240:00,109.0,114.1,100.1,106.1,...,9.1,0.500,0.540,1.0,0.197,104.30,99.0,82.50,99,0.556

In [119]:
advanced.columns

Index(['GAME_ID', 'TEAM_ID', 'TEAM_NAME', 'TEAM_ABBREVIATION', 'TEAM_CITY',
       'MIN', 'E_OFF_RATING', 'OFF_RATING', 'E_DEF_RATING', 'DEF_RATING',
       'E_NET_RATING', 'NET_RATING', 'AST_PCT', 'AST_TOV', 'AST_RATIO',
       'OREB_PCT', 'DREB_PCT', 'REB_PCT', 'E_TM_TOV_PCT', 'TM_TOV_PCT',
       'EFG_PCT', 'TS_PCT', 'USG_PCT', 'E_USG_PCT', 'E_PACE', 'PACE',
       'PACE_PER40', 'POSS', 'PIE'],
      dtype='object')

In [120]:
columns_to_drop = ['TEAM_CITY', 'MIN', 'E_OFF_RATING', 'E_DEF_RATING', 
                   'E_NET_RATING', 'AST_RATIO', 'E_TM_TOV_PCT', 'USG_PCT', 
                   'E_USG_PCT', 'E_PACE', 'PACE_PER40', 'PIE']

In [121]:
advanced = advanced.drop(columns=columns_to_drop)
advanced

,GAME_ID,TEAM_ID,TEAM_NAME,TEAM_ABBREVIATION,OFF_RATING,DEF_RATING,NET_RATING,AST_PCT,AST_TOV,OREB_PCT,DREB_PCT,REB_PCT,TM_TOV_PCT,EFG_PCT,TS_PCT,PACE,POSS
0,0022200963,1610612754,Pacers,IND,133.0,131.2,1.8,0.563,3.00,0.319,0.742,0.487,9.6,0.596,0.619,93.5,94
1,0022200963,1610612741,Bulls,CHI,131.2,133.0,-1.8,0.400,1.20,0.258,0.681,0.513,16.1,0.676,0.718,93.5,93
0,0022200962,1610612756,Suns,PHX,134.0,128.6,5.4,0.551,3.00,0.317,0.829,0.573,9.3,0.618,0.650,97.5,97
1,0022200962,1610612742,Mavericks,DAL,128.6,134.0,-5.4,0.395,1.50,0.171,0.683,0.427,10.2,0.591,0.672,97.5,98
0,0022200964,1610612747,Lakers,LAL,114.1,106.1,8.1,0.690,3.22,0.309,0.754,0.536,9.1,0.500,0.540,99.0,99
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1,0022100003,1610612766,Hornets,CHA,116.0,114.0,2.0,0.630,3.63,0.333,0.745,0.513,7.5,0.491,0.517,106.5,106
0,0022100002,1610612747,Lakers,LAL,101.8,107.1,-5.3,0.467,1.17,0.189,0.759,0.477,16.1,0.553,0.551,112.5,112
1,0022100002,1610612744,Warriors,GSW,107.1,101.8,5.3,0.732,1.76,0.241,0.811,0.523,15.0,0.516,0.570,112.5,113
0,0022100001,1610612749,Bucks,MIL,124.5,102.0,22.5,0.521,3.13,0.293,0.824,0.541,7.8,0.538,0.562,102.0,102
1,0022100001,1610612751,Nets,BKN,102.0,124.5,-22.5,0.514,1.46,0.176,0.707,0.459,12.7,0.542,0.552,102.0,102

In [122]:
advanced['GAME_ID'] = advanced['GAME_ID'].astype('int32')

In [123]:
advanced = advanced.merge(games_df.drop(columns=['TEAM_ID']), on=['GAME_ID', 'TEAM_ABBREVIATION'])

In [124]:
advanced.head()

,GAME_ID,TEAM_ID,TEAM_NAME,TEAM_ABBREVIATION,OFF_RATING,DEF_RATING,NET_RATING,AST_PCT,AST_TOV,OREB_PCT,...,REB_PCT,TM_TOV_PCT,EFG_PCT,TS_PCT,PACE,POSS,GAME_DATE,HOME_TEAM,PTS,PLUS_MINUS
0,22200963,1610612754,Pacers,IND,133.0,131.2,1.8,0.563,3.00,0.319,...,0.487,9.6,0.596,0.619,93.5,94,2023-03-05,0,125,6.4
1,22200963,1610612741,Bulls,CHI,131.2,133.0,-1.8,0.400,1.20,0.258,...,0.513,16.1,0.676,0.718,93.5,93,2023-03-05,1,122,-3.0
2,22200962,1610612756,Suns,PHX,134.0,128.6,5.4,0.551,3.00,0.317,...,0.573,9.3,0.618,0.650,97.5,97,2023-03-05,0,130,4.0
3,22200962,1610612742,Mavericks,DAL,128.6,134.0,-5.4,0.395,1.50,0.171,...,0.427,10.2,0.591,0.672,97.5,98,2023-03-05,1,126,-4.0
4,22200964,1610612747,Lakers,LAL,114.1,106.1,8.1,0.690,3.22,0.309,...,0.536,9.1,0.500,0.540,99.0,99,2023-03-05,1,113,8.0

Reorder the data frame

In [125]:
advanced.columns

Index(['GAME_ID', 'TEAM_ID', 'TEAM_NAME', 'TEAM_ABBREVIATION', 'OFF_RATING',
       'DEF_RATING', 'NET_RATING', 'AST_PCT', 'AST_TOV', 'OREB_PCT',
       'DREB_PCT', 'REB_PCT', 'TM_TOV_PCT', 'EFG_PCT', 'TS_PCT', 'PACE',
       'POSS', 'GAME_DATE', 'HOME_TEAM', 'PTS', 'PLUS_MINUS'],
      dtype='object')

In [126]:
advanced = advanced[['GAME_ID', 'GAME_DATE', 'TEAM_ID', 'TEAM_NAME', 'TEAM_ABBREVIATION', 'HOME_TEAM', 'OFF_RATING',
       'DEF_RATING', 'NET_RATING', 'AST_PCT', 'AST_TOV', 'OREB_PCT',
       'DREB_PCT', 'REB_PCT', 'TM_TOV_PCT', 'EFG_PCT', 'TS_PCT', 'PACE',
       'POSS', 'PTS', 'PLUS_MINUS']]

In [127]:
advanced.head()

,GAME_ID,GAME_DATE,TEAM_ID,TEAM_NAME,TEAM_ABBREVIATION,HOME_TEAM,OFF_RATING,DEF_RATING,NET_RATING,AST_PCT,...,OREB_PCT,DREB_PCT,REB_PCT,TM_TOV_PCT,EFG_PCT,TS_PCT,PACE,POSS,PTS,PLUS_MINUS
0,22200963,2023-03-05,1610612754,Pacers,IND,0,133.0,131.2,1.8,0.563,...,0.319,0.742,0.487,9.6,0.596,0.619,93.5,94,125,6.4
1,22200963,2023-03-05,1610612741,Bulls,CHI,1,131.2,133.0,-1.8,0.400,...,0.258,0.681,0.513,16.1,0.676,0.718,93.5,93,122,-3.0
2,22200962,2023-03-05,1610612756,Suns,PHX,0,134.0,128.6,5.4,0.551,...,0.317,0.829,0.573,9.3,0.618,0.650,97.5,97,130,4.0
3,22200962,2023-03-05,1610612742,Mavericks,DAL,1,128.6,134.0,-5.4,0.395,...,0.171,0.683,0.427,10.2,0.591,0.672,97.5,98,126,-4.0
4,22200964,2023-03-05,1610612747,Lakers,LAL,1,114.1,106.1,8.1,0.690,...,0.309,0.754,0.536,9.1,0.500,0.540,99.0,99,113,8.0

#### DROP ROWS THAT DONT HAVE A MATCHING GAME ID

In [128]:
value_counts = advanced['GAME_ID'].value_counts()

In [129]:
unique_values = value_counts[value_counts == 1].index.tolist()

In [130]:
advanced = advanced[~advanced['GAME_ID'].isin(unique_values)].reset_index(drop=True)

In [131]:
advanced_desc = advanced.sort_values(by=['GAME_DATE'], ascending=True).copy()

In [149]:
advanced_desc

,TEAM_ABBREVIATION,OFF_RATING,DEF_RATING,NET_RATING,AST_PCT,AST_TOV,OREB_PCT,DREB_PCT,REB_PCT,TM_TOV_PCT,EFG_PCT,TS_PCT,PACE,POSS
4691,ATL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4661,ATL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4627,ATL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4597,ATL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4587,ATL,108.24,102.76,5.48,0.5608,2.002,0.2616,0.7524,0.5202,12.34,0.5218,0.5448,100.100,100.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
116,WAS,114.74,116.64,-1.90,0.6148,1.508,0.2766,0.6966,0.5024,17.38,0.5906,0.6190,96.400,96.8
82,WAS,114.08,112.72,1.36,0.5856,1.624,0.2978,0.7018,0.5136,15.82,0.5608,0.5902,96.100,96.2
58,WAS,111.66,113.28,-1.62,0.6008,1.674,0.2952,0.6902,0.4970,15.50,0.5444,0.5740,96.900,97.0
20,WAS,111.54,116.14,-4.60,0.6214,1.578,0.3026,0.7126,0.5146,17.24,0.5592,0.5916,94.232,96.2
12,WAS,111.26,115.12,-3.86,0.5846,1.780,0.3254,0.7476,0.5314,15.12,0.5290,0.5602,95.132,96.8

#### Data Frame is ready to be preprocessed

In [133]:
rolling_features = ['OFF_RATING', 'DEF_RATING', 'NET_RATING', 'AST_PCT',
       'AST_TOV', 'OREB_PCT', 'DREB_PCT', 'REB_PCT', 'TM_TOV_PCT', 'EFG_PCT',
       'TS_PCT', 'PACE', 'POSS']

In [134]:
advanced_desc = advanced_desc.groupby('TEAM_ABBREVIATION', as_index=False, group_keys=False)[rolling_features].rolling(5).mean()

In [181]:
advanced_desc

,TEAM_ABBREVIATION,OFF_RATING,DEF_RATING,NET_RATING,AST_PCT,AST_TOV,OREB_PCT,DREB_PCT,REB_PCT,TM_TOV_PCT,EFG_PCT,TS_PCT,PACE,POSS
4691,ATL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4661,ATL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4627,ATL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4597,ATL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4587,ATL,108.24,102.76,5.48,0.5608,2.002,0.2616,0.7524,0.5202,12.34,0.5218,0.5448,100.100,100.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
116,WAS,114.74,116.64,-1.90,0.6148,1.508,0.2766,0.6966,0.5024,17.38,0.5906,0.6190,96.400,96.8
82,WAS,114.08,112.72,1.36,0.5856,1.624,0.2978,0.7018,0.5136,15.82,0.5608,0.5902,96.100,96.2
58,WAS,111.66,113.28,-1.62,0.6008,1.674,0.2952,0.6902,0.4970,15.50,0.5444,0.5740,96.900,97.0
20,WAS,111.54,116.14,-4.60,0.6214,1.578,0.3026,0.7126,0.5146,17.24,0.5592,0.5916,94.232,96.2
12,WAS,111.26,115.12,-3.86,0.5846,1.780,0.3254,0.7476,0.5314,15.12,0.5290,0.5602,95.132,96.8

In [135]:
advanced

,GAME_ID,GAME_DATE,TEAM_ID,TEAM_NAME,TEAM_ABBREVIATION,HOME_TEAM,OFF_RATING,DEF_RATING,NET_RATING,AST_PCT,...,OREB_PCT,DREB_PCT,REB_PCT,TM_TOV_PCT,EFG_PCT,TS_PCT,PACE,POSS,PTS,PLUS_MINUS
0,22200963,2023-03-05,1610612754,Pacers,IND,0,133.0,131.2,1.8,0.563,...,0.319,0.742,0.487,9.6,0.596,0.619,93.5,94,125,6.4
1,22200963,2023-03-05,1610612741,Bulls,CHI,1,131.2,133.0,-1.8,0.400,...,0.258,0.681,0.513,16.1,0.676,0.718,93.5,93,122,-3.0
2,22200962,2023-03-05,1610612756,Suns,PHX,0,134.0,128.6,5.4,0.551,...,0.317,0.829,0.573,9.3,0.618,0.650,97.5,97,130,4.0
3,22200962,2023-03-05,1610612742,Mavericks,DAL,1,128.6,134.0,-5.4,0.395,...,0.171,0.683,0.427,10.2,0.591,0.672,97.5,98,126,-4.0
4,22200964,2023-03-05,1610612747,Lakers,LAL,1,114.1,106.1,8.1,0.690,...,0.309,0.754,0.536,9.1,0.500,0.540,99.0,99,113,8.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4711,22100003,2021-10-20,1610612766,Hornets,CHA,1,116.0,114.0,2.0,0.630,...,0.333,0.745,0.513,7.5,0.491,0.517,106.5,106,123,1.0
4712,22100002,2021-10-19,1610612747,Lakers,LAL,1,101.8,107.1,-5.3,0.467,...,0.189,0.759,0.477,16.1,0.553,0.551,112.5,112,114,-7.0
4713,22100002,2021-10-19,1610612744,Warriors,GSW,0,107.1,101.8,5.3,0.732,...,0.241,0.811,0.523,15.0,0.516,0.570,112.5,113,121,7.0
4714,22100001,2021-10-19,1610612749,Bucks,MIL,1,124.5,102.0,22.5,0.521,...,0.293,0.824,0.541,7.8,0.538,0.562,102.0,102,127,23.0
4715,22100001,2021-10-19,1610612751,Nets,BKN,0,102.0,124.5,-22.5,0.514,...,0.176,0.707,0.459,12.7,0.542,0.552,102.0,102,104,-23.0

In [137]:
advanced[rolling_features]

,OFF_RATING,DEF_RATING,NET_RATING,AST_PCT,AST_TOV,OREB_PCT,DREB_PCT,REB_PCT,TM_TOV_PCT,EFG_PCT,TS_PCT,PACE,POSS
0,133.0,131.2,1.8,0.563,3.00,0.319,0.742,0.487,9.6,0.596,0.619,93.5,94
1,131.2,133.0,-1.8,0.400,1.20,0.258,0.681,0.513,16.1,0.676,0.718,93.5,93
2,134.0,128.6,5.4,0.551,3.00,0.317,0.829,0.573,9.3,0.618,0.650,97.5,97
3,128.6,134.0,-5.4,0.395,1.50,0.171,0.683,0.427,10.2,0.591,0.672,97.5,98
4,114.1,106.1,8.1,0.690,3.22,0.309,0.754,0.536,9.1,0.500,0.540,99.0,99
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4711,116.0,114.0,2.0,0.630,3.63,0.333,0.745,0.513,7.5,0.491,0.517,106.5,106
4712,101.8,107.1,-5.3,0.467,1.17,0.189,0.759,0.477,16.1,0.553,0.551,112.5,112
4713,107.1,101.8,5.3,0.732,1.76,0.241,0.811,0.523,15.0,0.516,0.570,112.5,113
4714,124.5,102.0,22.5,0.521,3.13,0.293,0.824,0.541,7.8,0.538,0.562,102.0,102
4715,102.0,124.5,-22.5,0.514,1.46,0.176,0.707,0.459,12.7,0.542,0.552,102.0,102

In [139]:
advanced_desc.drop(columns=['TEAM_ABBREVIATION']).sort_index()

,OFF_RATING,DEF_RATING,NET_RATING,AST_PCT,AST_TOV,OREB_PCT,DREB_PCT,REB_PCT,TM_TOV_PCT,EFG_PCT,TS_PCT,PACE,POSS
0,121.12,121.32,-0.20,0.6272,2.624,0.2416,0.6632,0.4544,11.30,0.5782,0.6062,98.028,100.4
1,116.82,117.62,-0.82,0.5912,1.796,0.2554,0.6694,0.4808,14.98,0.5780,0.6156,93.300,93.0
2,121.36,111.76,9.62,0.6056,2.358,0.3094,0.7368,0.5308,11.62,0.5532,0.5870,96.700,96.6
3,126.22,122.02,4.20,0.5414,2.520,0.2108,0.7524,0.4720,10.78,0.6170,0.6482,99.800,100.0
4,110.04,110.64,-0.56,0.6164,1.912,0.3060,0.7096,0.5116,14.40,0.5054,0.5542,101.500,101.6
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4711,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4712,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4713,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4714,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4715,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [140]:
advanced[rolling_features] = advanced_desc.drop(columns=['TEAM_ABBREVIATION']).sort_index()

In [146]:
advanced = advanced.sort_values(by=['GAME_DATE', 'GAME_ID', 'HOME_TEAM'], ascending=False).reset_index(drop=True)

In [147]:
advanced

,GAME_ID,GAME_DATE,TEAM_ID,TEAM_NAME,TEAM_ABBREVIATION,HOME_TEAM,OFF_RATING,DEF_RATING,NET_RATING,AST_PCT,...,OREB_PCT,DREB_PCT,REB_PCT,TM_TOV_PCT,EFG_PCT,TS_PCT,PACE,POSS,PTS,PLUS_MINUS
0,22200973,2023-03-05,1610612764,Wizards,WAS,1,111.26,115.12,-3.86,0.5846,...,0.3254,0.7476,0.5314,15.12,0.5290,0.5602,95.132,96.8,111,-6.0
1,22200973,2023-03-05,1610612749,Bucks,MIL,0,120.26,113.10,7.14,0.6156,...,0.2490,0.7254,0.4972,12.24,0.5930,0.6164,100.800,101.2,117,6.0
2,22200970,2023-03-05,1610612746,Clippers,LAC,1,111.28,118.74,-7.48,0.6082,...,0.2506,0.7516,0.5002,14.94,0.5338,0.5840,101.734,104.0,135,6.0
3,22200970,2023-03-05,1610612763,Grizzlies,MEM,0,114.84,109.76,5.10,0.6270,...,0.2124,0.6658,0.4392,9.30,0.5390,0.5686,99.900,99.6,129,-6.0
4,22200969,2023-03-05,1610612738,Celtics,BOS,1,110.68,114.46,-3.74,0.5974,...,0.2472,0.7138,0.4858,14.48,0.5446,0.5752,96.534,100.4,129,-2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4711,22100003,2021-10-20,1610612754,Pacers,IND,0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,122,-1.0
4712,22100002,2021-10-19,1610612747,Lakers,LAL,1,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,114,-7.0
4713,22100002,2021-10-19,1610612744,Warriors,GSW,0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,121,7.0
4714,22100001,2021-10-19,1610612749,Bucks,MIL,1,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,127,23.0
4715,22100001,2021-10-19,1610612751,Nets,BKN,0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,104,-23.0

In [197]:
adv_home = advanced.iloc[::2].copy()
adv_away = advanced.iloc[1::2].copy()

In [198]:
adv_home

,GAME_ID,GAME_DATE,TEAM_ID,TEAM_NAME,TEAM_ABBREVIATION,HOME_TEAM,OFF_RATING,DEF_RATING,NET_RATING,AST_PCT,...,OREB_PCT,DREB_PCT,REB_PCT,TM_TOV_PCT,EFG_PCT,TS_PCT,PACE,POSS,PTS,PLUS_MINUS
0,22200973,2023-03-05,1610612764,Wizards,WAS,1,111.26,115.12,-3.86,0.5846,...,0.3254,0.7476,0.5314,15.12,0.5290,0.5602,95.132,96.8,111,-6.0
2,22200970,2023-03-05,1610612746,Clippers,LAC,1,111.28,118.74,-7.48,0.6082,...,0.2506,0.7516,0.5002,14.94,0.5338,0.5840,101.734,104.0,135,6.0
4,22200969,2023-03-05,1610612738,Celtics,BOS,1,110.68,114.46,-3.74,0.5974,...,0.2472,0.7138,0.4858,14.48,0.5446,0.5752,96.534,100.4,129,-2.0
6,22200968,2023-03-05,1610612760,Thunder,OKC,1,118.74,115.96,2.76,0.6072,...,0.2856,0.6876,0.4734,10.96,0.5554,0.5876,102.300,102.4,129,10.0
8,22200967,2023-03-05,1610612745,Rockets,HOU,1,118.50,121.16,-2.70,0.5564,...,0.3504,0.7634,0.5496,13.74,0.5568,0.5826,98.900,99.2,142,32.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4706,22100005,2021-10-20,1610612752,Knicks,NYK,1,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,138,4.0
4708,22100004,2021-10-20,1610612765,Pistons,DET,1,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,88,-6.0
4710,22100003,2021-10-20,1610612766,Hornets,CHA,1,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,123,1.0
4712,22100002,2021-10-19,1610612747,Lakers,LAL,1,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,114,-7.0
4714,22100001,2021-10-19,1610612749,Bucks,MIL,1,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,127,23.0

In [199]:
adv_away.head()

,GAME_ID,GAME_DATE,TEAM_ID,TEAM_NAME,TEAM_ABBREVIATION,HOME_TEAM,OFF_RATING,DEF_RATING,NET_RATING,AST_PCT,...,OREB_PCT,DREB_PCT,REB_PCT,TM_TOV_PCT,EFG_PCT,TS_PCT,PACE,POSS,PTS,PLUS_MINUS
1,22200973,2023-03-05,1610612749,Bucks,MIL,0,120.26,113.10,7.14,0.6156,...,0.2490,0.7254,0.4972,12.24,0.5930,0.6164,100.800,101.2,117,6.0
3,22200970,2023-03-05,1610612763,Grizzlies,MEM,0,114.84,109.76,5.10,0.6270,...,0.2124,0.6658,0.4392,9.30,0.5390,0.5686,99.900,99.6,129,-6.0
5,22200969,2023-03-05,1610612752,Knicks,NYK,0,123.32,110.34,12.98,0.4930,...,0.2784,0.7426,0.5354,15.90,0.6296,0.6500,98.734,102.6,131,2.0
7,22200968,2023-03-05,1610612762,Jazz,UTA,0,105.90,111.52,-5.62,0.6246,...,0.3444,0.6972,0.5278,19.08,0.5030,0.5496,102.396,104.6,119,-10.0
9,22200967,2023-03-05,1610612759,Spurs,SAS,0,105.38,113.26,-7.86,0.5998,...,0.2912,0.7016,0.4808,14.02,0.4944,0.5256,101.500,101.4,110,-32.0

In [200]:
columns_away = {}
columns_home = {}
columns_to_merge = []
for column in advanced.columns:
    if column == 'GAME_ID' or column == 'PLUS_MINUS' or column == 'GAME_DATE':
        continue
    columns_to_merge.append(column + '_a')
    columns_away[column] = column + '_a'
    columns_home[column] = column + '_h'

In [201]:
adv_away.rename(columns=columns_away, inplace=True)
adv_home.rename(columns=columns_home, inplace=True)

In [202]:
columns_to_merge.append('GAME_ID')

In [203]:
merged_df = adv_home.merge(adv_away[columns_to_merge], on=['GAME_ID'])

In [204]:
merged_df = merged_df[['GAME_ID', 'GAME_DATE', 'TEAM_ID_h', 'TEAM_NAME_h',
       'TEAM_ABBREVIATION_h', 'HOME_TEAM_h', 'OFF_RATING_h', 'DEF_RATING_h',
       'NET_RATING_h', 'AST_PCT_h', 'AST_TOV_h', 'OREB_PCT_h', 'DREB_PCT_h',
       'REB_PCT_h', 'TM_TOV_PCT_h', 'EFG_PCT_h', 'TS_PCT_h', 'PACE_h',
       'POSS_h', 'PTS_h', 'TEAM_ID_a', 'TEAM_NAME_a',
       'TEAM_ABBREVIATION_a', 'HOME_TEAM_a', 'OFF_RATING_a', 'DEF_RATING_a',
       'NET_RATING_a', 'AST_PCT_a', 'AST_TOV_a', 'OREB_PCT_a', 'DREB_PCT_a',
       'REB_PCT_a', 'TM_TOV_PCT_a', 'EFG_PCT_a', 'TS_PCT_a', 'PACE_a',
       'POSS_a', 'PTS_a', 'PLUS_MINUS']]

In [226]:
merged_df = merged_df.dropna()

#### Now the data is ready for scaling and one hot encoding

In [227]:
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import OneHotEncoder

In [228]:
X_features_num = ['OFF_RATING_h', 'DEF_RATING_h',
       'NET_RATING_h', 'AST_PCT_h', 'AST_TOV_h', 'OREB_PCT_h', 'DREB_PCT_h',
       'REB_PCT_h', 'TM_TOV_PCT_h', 'EFG_PCT_h', 'TS_PCT_h', 'PACE_h',
       'POSS_h', 'OFF_RATING_a', 'DEF_RATING_a',
       'NET_RATING_a', 'AST_PCT_a', 'AST_TOV_a', 'OREB_PCT_a', 'DREB_PCT_a',
       'REB_PCT_a', 'TM_TOV_PCT_a', 'EFG_PCT_a', 'TS_PCT_a', 'PACE_a',
       'POSS_a']

X_features_cat = ['TEAM_ABBREVIATION_h', 'TEAM_ABBREVIATION_a']

X_features_all = ['GAME_ID', 'GAME_DATE', 'TEAM_ID_h', 'TEAM_NAME_h',
       'TEAM_ABBREVIATION_h', 'HOME_TEAM_h', 'OFF_RATING_h', 'DEF_RATING_h',
       'NET_RATING_h', 'AST_PCT_h', 'AST_TOV_h', 'OREB_PCT_h', 'DREB_PCT_h',
       'REB_PCT_h', 'TM_TOV_PCT_h', 'EFG_PCT_h', 'TS_PCT_h', 'PACE_h',
       'POSS_h', 'PTS_h', 'TEAM_ID_a', 'TEAM_NAME_a',
       'TEAM_ABBREVIATION_a', 'HOME_TEAM_a', 'OFF_RATING_a', 'DEF_RATING_a',
       'NET_RATING_a', 'AST_PCT_a', 'AST_TOV_a', 'OREB_PCT_a', 'DREB_PCT_a',
       'REB_PCT_a', 'TM_TOV_PCT_a', 'EFG_PCT_a', 'TS_PCT_a', 'PACE_a',
       'POSS_a', 'PTS_a', 'PLUS_MINUS']

In [229]:
X = merged_df.copy()

In [230]:
scaler = MinMaxScaler()
X[X_features_num] = scaler.fit_transform(X[X_features_num])

In [231]:
ohe = OneHotEncoder(sparse=False)
ohe.fit(X[X_features_cat])
cols = [str(team) +'_h' for team in ohe.categories_[0]] + [str(team) +'_a' for team in ohe.categories_[1]]

/home/alec/.pyenv/versions/nba_betting_analysis/lib/python3.10/site-packages/sklearn/preprocessing/_encoders.py:828: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

In [232]:
X[cols]=ohe.transform(X[X_features_cat])

In [233]:
X = X[['GAME_ID', 'GAME_DATE', 'TEAM_ID_h', 'TEAM_NAME_h',
       'TEAM_ABBREVIATION_h', 'HOME_TEAM_h', 'OFF_RATING_h', 'DEF_RATING_h',
       'NET_RATING_h', 'AST_PCT_h', 'AST_TOV_h', 'OREB_PCT_h', 'DREB_PCT_h',
       'REB_PCT_h', 'TM_TOV_PCT_h', 'EFG_PCT_h', 'TS_PCT_h', 'PACE_h',
       'POSS_h', 'PTS_h', 'TEAM_ID_a', 'TEAM_NAME_a', 'TEAM_ABBREVIATION_a',
       'HOME_TEAM_a', 'OFF_RATING_a', 'DEF_RATING_a', 'NET_RATING_a',
       'AST_PCT_a', 'AST_TOV_a', 'OREB_PCT_a', 'DREB_PCT_a', 'REB_PCT_a',
       'TM_TOV_PCT_a', 'EFG_PCT_a', 'TS_PCT_a', 'PACE_a', 'POSS_a', 'PTS_a',
       'ATL_h', 'BKN_h', 'BOS_h', 'CHA_h', 'CHI_h', 'CLE_h',
       'DAL_h', 'DEN_h', 'DET_h', 'GSW_h', 'HOU_h', 'IND_h', 'LAC_h', 'LAL_h',
       'MEM_h', 'MIA_h', 'MIL_h', 'MIN_h', 'NOP_h', 'NYK_h', 'OKC_h', 'ORL_h',
       'PHI_h', 'PHX_h', 'POR_h', 'SAC_h', 'SAS_h', 'TOR_h', 'UTA_h', 'WAS_h',
       'ATL_a', 'BKN_a', 'BOS_a', 'CHA_a', 'CHI_a', 'CLE_a', 'DAL_a', 'DEN_a',
       'DET_a', 'GSW_a', 'HOU_a', 'IND_a', 'LAC_a', 'LAL_a', 'MEM_a', 'MIA_a',
       'MIL_a', 'MIN_a', 'NOP_a', 'NYK_a', 'OKC_a', 'ORL_a', 'PHI_a', 'PHX_a',
       'POR_a', 'SAC_a', 'SAS_a', 'TOR_a', 'UTA_a', 'WAS_a', 'PLUS_MINUS']]

In [234]:
X_features = ['HOME_TEAM_h', 'OFF_RATING_h', 'DEF_RATING_h',
       'NET_RATING_h', 'AST_PCT_h', 'AST_TOV_h', 'OREB_PCT_h', 'DREB_PCT_h',
       'REB_PCT_h', 'TM_TOV_PCT_h', 'EFG_PCT_h', 'TS_PCT_h', 'PACE_h', 'POSS_h',
       'HOME_TEAM_a', 'OFF_RATING_a', 'DEF_RATING_a', 'NET_RATING_a',
       'AST_PCT_a', 'AST_TOV_a', 'OREB_PCT_a', 'DREB_PCT_a', 'REB_PCT_a',
       'TM_TOV_PCT_a', 'EFG_PCT_a', 'TS_PCT_a', 'PACE_a', 'POSS_a',
       'ATL_h', 'BKN_h', 'BOS_h', 'CHA_h', 'CHI_h', 'CLE_h', 'DAL_h', 'DEN_h',
       'DET_h', 'GSW_h', 'HOU_h', 'IND_h', 'LAC_h', 'LAL_h', 'MEM_h', 'MIA_h',
       'MIL_h', 'MIN_h', 'NOP_h', 'NYK_h', 'OKC_h', 'ORL_h', 'PHI_h', 'PHX_h',
       'POR_h', 'SAC_h', 'SAS_h', 'TOR_h', 'UTA_h', 'WAS_h', 'ATL_a', 'BKN_a',
       'BOS_a', 'CHA_a', 'CHI_a', 'CLE_a', 'DAL_a', 'DEN_a', 'DET_a', 'GSW_a',
       'HOU_a', 'IND_a', 'LAC_a', 'LAL_a', 'MEM_a', 'MIA_a', 'MIL_a', 'MIN_a',
       'NOP_a', 'NYK_a', 'OKC_a', 'ORL_a', 'PHI_a', 'PHX_a', 'POR_a', 'SAC_a',
       'SAS_a', 'TOR_a', 'UTA_a', 'WAS_a']

In [235]:
X_preproc = X[X_features]
y = X['PLUS_MINUS']

In [238]:
X_preproc.to_pickle('X_preproc_rolling_advanced_part1.pkl')

In [239]:
y.to_pickle('y_preproc_rolling_advanced_part1.pkl')