In [59]:
import pandas as pd
import numpy as np

In [60]:
basic = pd.read_pickle('../data/pkl/raw_games_5yrs.pkl')
advanced = pd.read_pickle('../data/pkl/boxscores_advanced_team_part1.pkl')

In [61]:
basic = basic.sort_values(by=['GAME_DATE', 'GAME_ID'], ascending=False).reset_index(drop=True)

In [62]:
basic.columns

Index(['SEASON_ID', 'TEAM_ID', 'TEAM_ABBREVIATION', 'TEAM_NAME', 'GAME_ID',
       'GAME_DATE', 'MATCHUP', 'WL', 'MIN', 'PTS', 'FGM', 'FGA', 'FG_PCT',
       'FG3M', 'FG3A', 'FG3_PCT', 'FTM', 'FTA', 'FT_PCT', 'OREB', 'DREB',
       'REB', 'AST', 'STL', 'BLK', 'TOV', 'PF', 'PLUS_MINUS', 'HOME_TEAM'],
      dtype='object')

In [63]:
games_df = basic[['TEAM_ID', 'TEAM_ABBREVIATION', 'GAME_ID', 'GAME_DATE', 'HOME_TEAM', 'PLUS_MINUS']].copy()
games_df.head()

      TEAM_ID TEAM_ABBREVIATION   GAME_ID  GAME_DATE  HOME_TEAM  PLUS_MINUS
0  1610612749               MIL  22200973 2023-03-05          0         6.0
1  1610612764               WAS  22200973 2023-03-05          1        -6.0
2  1610612746               LAC  22200970 2023-03-05          1         6.0
3  1610612763               MEM  22200970 2023-03-05          0        -6.0
4  1610612738               BOS  22200969 2023-03-05          1        -2.0

In [64]:
advanced.head()

,GAME_ID,TEAM_ID,TEAM_NAME,TEAM_ABBREVIATION,TEAM_CITY,MIN,E_OFF_RATING,OFF_RATING,E_DEF_RATING,DEF_RATING,...,TM_TOV_PCT,EFG_PCT,TS_PCT,USG_PCT,E_USG_PCT,E_PACE,PACE,PACE_PER40,POSS,PIE
0,0022200963,1610612754,Pacers,IND,Indiana,240:00,128.8,133.0,127.1,131.2,...,9.6,0.596,0.619,1.0,0.196,96.52,93.5,77.92,94,0.502
1,0022200963,1610612741,Bulls,CHI,Chicago,240:00,127.1,131.2,128.8,133.0,...,16.1,0.676,0.718,1.0,0.198,96.52,93.5,77.92,93,0.498
0,0022200962,1610612756,Suns,PHX,Phoenix,240:00,130.0,134.0,127.6,128.6,...,9.3,0.618,0.650,1.0,0.200,99.36,97.5,81.25,97,0.539
1,0022200962,1610612742,Mavericks,DAL,Dallas,240:00,127.6,128.6,130.0,134.0,...,10.2,0.591,0.672,1.0,0.197,99.36,97.5,81.25,98,0.461
0,0022200964,1610612747,Lakers,LAL,Los Angeles,240:00,109.0,114.1,100.1,106.1,...,9.1,0.500,0.540,1.0,0.197,104.30,99.0,82.50,99,0.556

In [65]:
advanced.columns

Index(['GAME_ID', 'TEAM_ID', 'TEAM_NAME', 'TEAM_ABBREVIATION', 'TEAM_CITY',
       'MIN', 'E_OFF_RATING', 'OFF_RATING', 'E_DEF_RATING', 'DEF_RATING',
       'E_NET_RATING', 'NET_RATING', 'AST_PCT', 'AST_TOV', 'AST_RATIO',
       'OREB_PCT', 'DREB_PCT', 'REB_PCT', 'E_TM_TOV_PCT', 'TM_TOV_PCT',
       'EFG_PCT', 'TS_PCT', 'USG_PCT', 'E_USG_PCT', 'E_PACE', 'PACE',
       'PACE_PER40', 'POSS', 'PIE'],
      dtype='object')

In [66]:
columns_to_drop = ['TEAM_CITY', 'MIN', 'E_OFF_RATING', 'E_DEF_RATING', 
                   'E_NET_RATING', 'AST_RATIO', 'E_TM_TOV_PCT', 'USG_PCT', 
                   'E_USG_PCT', 'E_PACE', 'PACE_PER40', 'PIE']

In [67]:
advanced = advanced.drop(columns=columns_to_drop)
advanced

,GAME_ID,TEAM_ID,TEAM_NAME,TEAM_ABBREVIATION,OFF_RATING,DEF_RATING,NET_RATING,AST_PCT,AST_TOV,OREB_PCT,DREB_PCT,REB_PCT,TM_TOV_PCT,EFG_PCT,TS_PCT,PACE,POSS
0,0022200963,1610612754,Pacers,IND,133.0,131.2,1.8,0.563,3.00,0.319,0.742,0.487,9.6,0.596,0.619,93.5,94
1,0022200963,1610612741,Bulls,CHI,131.2,133.0,-1.8,0.400,1.20,0.258,0.681,0.513,16.1,0.676,0.718,93.5,93
0,0022200962,1610612756,Suns,PHX,134.0,128.6,5.4,0.551,3.00,0.317,0.829,0.573,9.3,0.618,0.650,97.5,97
1,0022200962,1610612742,Mavericks,DAL,128.6,134.0,-5.4,0.395,1.50,0.171,0.683,0.427,10.2,0.591,0.672,97.5,98
0,0022200964,1610612747,Lakers,LAL,114.1,106.1,8.1,0.690,3.22,0.309,0.754,0.536,9.1,0.500,0.540,99.0,99
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1,0022100003,1610612766,Hornets,CHA,116.0,114.0,2.0,0.630,3.63,0.333,0.745,0.513,7.5,0.491,0.517,106.5,106
0,0022100002,1610612747,Lakers,LAL,101.8,107.1,-5.3,0.467,1.17,0.189,0.759,0.477,16.1,0.553,0.551,112.5,112
1,0022100002,1610612744,Warriors,GSW,107.1,101.8,5.3,0.732,1.76,0.241,0.811,0.523,15.0,0.516,0.570,112.5,113
0,0022100001,1610612749,Bucks,MIL,124.5,102.0,22.5,0.521,3.13,0.293,0.824,0.541,7.8,0.538,0.562,102.0,102
1,0022100001,1610612751,Nets,BKN,102.0,124.5,-22.5,0.514,1.46,0.176,0.707,0.459,12.7,0.542,0.552,102.0,102

In [68]:
advanced['GAME_ID'] = advanced['GAME_ID'].astype('int32')

In [69]:
advanced = advanced.merge(games_df.drop(columns=['TEAM_ID']), on=['GAME_ID', 'TEAM_ABBREVIATION'])

In [70]:
advanced.head()

,GAME_ID,TEAM_ID,TEAM_NAME,TEAM_ABBREVIATION,OFF_RATING,DEF_RATING,NET_RATING,AST_PCT,AST_TOV,OREB_PCT,DREB_PCT,REB_PCT,TM_TOV_PCT,EFG_PCT,TS_PCT,PACE,POSS,GAME_DATE,HOME_TEAM,PLUS_MINUS
0,22200963,1610612754,Pacers,IND,133.0,131.2,1.8,0.563,3.00,0.319,0.742,0.487,9.6,0.596,0.619,93.5,94,2023-03-05,0,6.4
1,22200963,1610612741,Bulls,CHI,131.2,133.0,-1.8,0.400,1.20,0.258,0.681,0.513,16.1,0.676,0.718,93.5,93,2023-03-05,1,-3.0
2,22200962,1610612756,Suns,PHX,134.0,128.6,5.4,0.551,3.00,0.317,0.829,0.573,9.3,0.618,0.650,97.5,97,2023-03-05,0,4.0
3,22200962,1610612742,Mavericks,DAL,128.6,134.0,-5.4,0.395,1.50,0.171,0.683,0.427,10.2,0.591,0.672,97.5,98,2023-03-05,1,-4.0
4,22200964,1610612747,Lakers,LAL,114.1,106.1,8.1,0.690,3.22,0.309,0.754,0.536,9.1,0.500,0.540,99.0,99,2023-03-05,1,8.0

Reorder the data frame

#### DROP ROWS THAT DONT HAVE A MATCHING GAME ID

In [ ]:
value_counts = advanced['GAME_ID'].value_counts()

In [72]:
unique_values = value_counts[value_counts == 1].index.tolist()

In [73]:
advanced = advanced[~advanced['GAME_ID'].isin(unique_values)].reset_index(drop=True)

In [74]:
advanced_desc = advanced.sort_values(by=['GAME_DATE'], ascending=True).copy()

In [75]:
advanced_desc

,GAME_ID,TEAM_ID,TEAM_NAME,TEAM_ABBREVIATION,OFF_RATING,DEF_RATING,NET_RATING,AST_PCT,AST_TOV,OREB_PCT,DREB_PCT,REB_PCT,TM_TOV_PCT,EFG_PCT,TS_PCT,PACE,POSS,GAME_DATE,HOME_TEAM,PLUS_MINUS
4715,22100001,1610612751,Nets,BKN,102.0,124.5,-22.5,0.514,1.46,0.176,0.707,0.459,12.7,0.542,0.552,102.0,102,2021-10-19,0,-23.0
4712,22100002,1610612747,Lakers,LAL,101.8,107.1,-5.3,0.467,1.17,0.189,0.759,0.477,16.1,0.553,0.551,112.5,112,2021-10-19,1,-7.0
4714,22100001,1610612749,Bucks,MIL,124.5,102.0,22.5,0.521,3.13,0.293,0.824,0.541,7.8,0.538,0.562,102.0,102,2021-10-19,1,23.0
4713,22100002,1610612744,Warriors,GSW,107.1,101.8,5.3,0.732,1.76,0.241,0.811,0.523,15.0,0.516,0.570,112.5,113,2021-10-19,0,7.0
4711,22100003,1610612766,Hornets,CHA,116.0,114.0,2.0,0.630,3.63,0.333,0.745,0.513,7.5,0.491,0.517,106.5,106,2021-10-20,1,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17,22200966,1610612753,Magic,ORL,116.7,119.6,-2.9,0.690,2.64,0.167,0.696,0.426,10.8,0.565,0.609,102.0,102,2023-03-05,1,-3.0
18,22200968,1610612762,Jazz,UTA,115.5,125.2,-9.7,0.698,1.88,0.326,0.674,0.494,15.5,0.551,0.596,103.0,103,2023-03-05,0,-10.0
19,22200968,1610612760,Thunder,OKC,125.2,115.5,9.7,0.545,2.00,0.326,0.674,0.506,11.7,0.586,0.635,103.0,103,2023-03-05,1,10.0
10,22200970,1610612763,Grizzlies,MEM,127.7,131.1,-3.3,0.640,4.00,0.067,0.571,0.310,7.9,0.641,0.654,102.0,101,2023-03-05,0,-6.0
0,22200963,1610612754,Pacers,IND,133.0,131.2,1.8,0.563,3.00,0.319,0.742,0.487,9.6,0.596,0.619,93.5,94,2023-03-05,0,6.4

#### Data Frame is ready to be preprocessed

In [76]:
non_eng_features = ['TEAM_ABBREVIATION', 'GAME_ID', 'TEAM_ID', 'TEAM_NAME', 
                        'GAME_DATE', 'HOME_TEAM', 'PLUS_MINUS']

In [77]:
eng_features = advanced_desc.drop(columns=non_eng_features).columns.tolist()

In [78]:
eng_features

['OFF_RATING',
 'DEF_RATING',
 'NET_RATING',
 'AST_PCT',
 'AST_TOV',
 'OREB_PCT',
 'DREB_PCT',
 'REB_PCT',
 'TM_TOV_PCT',
 'EFG_PCT',
 'TS_PCT',
 'PACE',
 'POSS']

In [79]:
def roll(df, roll_number = 10, procedure = '', suff = '_Roll', selected_columns=[]):
    
    df_rolling = df[selected_columns + ["TEAM_ABBREVIATION"]]
    df_rolling = df_rolling.groupby(["TEAM_ABBREVIATION"], group_keys=False)
    
    def find_team_averages(team):
        return team.rolling(roll_number, closed='left').mean()

    def find_team_medians(team):
        return team.rolling(roll_number, closed='left').median()
    
    def find_team_stds(team):
        return team.rolling(roll_number, closed='left').std()

    if procedure == 'median':
        df_rolling = df_rolling.apply(find_team_medians)
    elif procedure == 'std':
        df_rolling = df_rolling.apply(find_team_stds)    
    else:
        procedure = 'mean'
        df_rolling = df_rolling.apply(find_team_averages)
        
    df_rolling = df_rolling[selected_columns]
    df_rolling = df_rolling.sort_index()
    
    new_column_names = {}
    for col in df_rolling.columns:
        new_column_names[col] = col + suff + '_' + procedure

    df_rolling = df_rolling.rename(columns=new_column_names)
    return df_rolling

In [80]:
df_test = roll(df = advanced_desc, roll_number=5, procedure='mean', selected_columns=eng_features)
df_test2 = roll(df = advanced_desc, roll_number=5, procedure='median', selected_columns=eng_features)
df_test3 = roll(df = advanced_desc, roll_number=5, procedure='std', selected_columns=eng_features)

/tmp/ipykernel_3650/2497152479.py:7: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['TEAM_ABBREVIATION'], dtype='object')
  return team.rolling(roll_number, closed='left').mean()
/tmp/ipykernel_3650/2497152479.py:10: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['TEAM_ABBREVIATION'], dtype='object')
  return team.rolling(roll_number, closed='left').median()
/tmp/ipykernel_3650/2497152479.py:13: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['TEAM_ABBREVIATION'], dtype='object')
  return team.rolling(roll_number, closed='left').std()

In [81]:
advanced = advanced.merge(df_test, left_index=True, right_index=True)
advanced = advanced.merge(df_test2, left_index=True, right_index=True)
advanced = advanced.merge(df_test3, left_index=True, right_index=True)

In [82]:
#advanced_desc = advanced_desc.groupby('TEAM_ABBREVIATION', as_index=False, group_keys=False)[eng_features].rolling(5).mean()
#advanced_desc.drop(columns=['TEAM_ABBREVIATION']).sort_index()
#advanced[eng_features] = advanced_desc.drop(columns=['TEAM_ABBREVIATION']).sort_index()

In [83]:
advanced.columns

Index(['GAME_ID', 'TEAM_ID', 'TEAM_NAME', 'TEAM_ABBREVIATION', 'OFF_RATING',
       'DEF_RATING', 'NET_RATING', 'AST_PCT', 'AST_TOV', 'OREB_PCT',
       'DREB_PCT', 'REB_PCT', 'TM_TOV_PCT', 'EFG_PCT', 'TS_PCT', 'PACE',
       'POSS', 'GAME_DATE', 'HOME_TEAM', 'PLUS_MINUS', 'OFF_RATING_Roll_mean',
       'DEF_RATING_Roll_mean', 'NET_RATING_Roll_mean', 'AST_PCT_Roll_mean',
       'AST_TOV_Roll_mean', 'OREB_PCT_Roll_mean', 'DREB_PCT_Roll_mean',
       'REB_PCT_Roll_mean', 'TM_TOV_PCT_Roll_mean', 'EFG_PCT_Roll_mean',
       'TS_PCT_Roll_mean', 'PACE_Roll_mean', 'POSS_Roll_mean',
       'OFF_RATING_Roll_median', 'DEF_RATING_Roll_median',
       'NET_RATING_Roll_median', 'AST_PCT_Roll_median', 'AST_TOV_Roll_median',
       'OREB_PCT_Roll_median', 'DREB_PCT_Roll_median', 'REB_PCT_Roll_median',
       'TM_TOV_PCT_Roll_median', 'EFG_PCT_Roll_median', 'TS_PCT_Roll_median',
       'PACE_Roll_median', 'POSS_Roll_median', 'OFF_RATING_Roll_std',
       'DEF_RATING_Roll_std', 'NET_RATING_Roll_std', 'AST_PCT_Roll_std',
       'AST_TOV_Roll_std', 'OREB_PCT_Roll_std', 'DREB_PCT_Roll_std',
       'REB_PCT_Roll_std', 'TM_TOV_PCT_Roll_std', 'EFG_PCT_Roll_std',
       'TS_PCT_Roll_std', 'PACE_Roll_std', 'POSS_Roll_std'],
      dtype='object')

In [84]:
advanced = advanced.sort_values(by=['GAME_DATE', 'GAME_ID', 'HOME_TEAM'], ascending=False).reset_index(drop=True)

In [85]:
adv_home = advanced.iloc[::2].copy()
adv_away = advanced.iloc[1::2].copy()

In [86]:
columns_away = {}
columns_home = {}
columns_to_merge = []
for column in advanced.columns:
    if column == 'GAME_ID' or column == 'PLUS_MINUS' or column == 'GAME_DATE':
        continue
    columns_to_merge.append(column + '_a')
    columns_away[column] = column + '_a'
    columns_home[column] = column + '_h'

In [87]:
columns_away

{'TEAM_ID': 'TEAM_ID_a',
 'TEAM_NAME': 'TEAM_NAME_a',
 'TEAM_ABBREVIATION': 'TEAM_ABBREVIATION_a',
 'OFF_RATING': 'OFF_RATING_a',
 'DEF_RATING': 'DEF_RATING_a',
 'NET_RATING': 'NET_RATING_a',
 'AST_PCT': 'AST_PCT_a',
 'AST_TOV': 'AST_TOV_a',
 'OREB_PCT': 'OREB_PCT_a',
 'DREB_PCT': 'DREB_PCT_a',
 'REB_PCT': 'REB_PCT_a',
 'TM_TOV_PCT': 'TM_TOV_PCT_a',
 'EFG_PCT': 'EFG_PCT_a',
 'TS_PCT': 'TS_PCT_a',
 'PACE': 'PACE_a',
 'POSS': 'POSS_a',
 'HOME_TEAM': 'HOME_TEAM_a',
 'OFF_RATING_Roll_mean': 'OFF_RATING_Roll_mean_a',
 'DEF_RATING_Roll_mean': 'DEF_RATING_Roll_mean_a',
 'NET_RATING_Roll_mean': 'NET_RATING_Roll_mean_a',
 'AST_PCT_Roll_mean': 'AST_PCT_Roll_mean_a',
 'AST_TOV_Roll_mean': 'AST_TOV_Roll_mean_a',
 'OREB_PCT_Roll_mean': 'OREB_PCT_Roll_mean_a',
 'DREB_PCT_Roll_mean': 'DREB_PCT_Roll_mean_a',
 'REB_PCT_Roll_mean': 'REB_PCT_Roll_mean_a',
 'TM_TOV_PCT_Roll_mean': 'TM_TOV_PCT_Roll_mean_a',
 'EFG_PCT_Roll_mean': 'EFG_PCT_Roll_mean_a',
 'TS_PCT_Roll_mean': 'TS_PCT_Roll_mean_a',
 'PACE_Roll_mean': 'PACE_Roll_mean_a',
 'POSS_Roll_mean': 'POSS_Roll_mean_a',
 'OFF_RATING_Roll_median': 'OFF_RATING_Roll_median_a',
 'DEF_RATING_Roll_median': 'DEF_RATING_Roll_median_a',
 'NET_RATING_Roll_median': 'NET_RATING_Roll_median_a',
 'AST_PCT_Roll_median': 'AST_PCT_Roll_median_a',
 'AST_TOV_Roll_median': 'AST_TOV_Roll_median_a',
 'OREB_PCT_Roll_median': 'OREB_PCT_Roll_median_a',
 'DREB_PCT_Roll_median': 'DREB_PCT_Roll_median_a',
 'REB_PCT_Roll_median': 'REB_PCT_Roll_median_a',
 'TM_TOV_PCT_Roll_median': 'TM_TOV_PCT_Roll_median_a',
 'EFG_PCT_Roll_median': 'EFG_PCT_Roll_median_a',
 'TS_PCT_Roll_median': 'TS_PCT_Roll_median_a',
 'PACE_Roll_median': 'PACE_Roll_median_a',
 'POSS_Roll_median': 'POSS_Roll_median_a',
 'OFF_RATING_Roll_std': 'OFF_RATING_Roll_std_a',
 'DEF_RATING_Roll_std': 'DEF_RATING_Roll_std_a',
 'NET_RATING_Roll_std': 'NET_RATING_Roll_std_a',
 'AST_PCT_Roll_std': 'AST_PCT_Roll_std_a',
 'AST_TOV_Roll_std': 'AST_TOV_Roll_std_a',
 'OREB_PCT_Roll_std': 'OREB_PCT_Roll_std_a',
 'DREB_PCT_Roll_std': 'DREB_PCT_Roll_std_a',
 'REB_PCT_Roll_std': 'REB_PCT_Roll_std_a',
 'TM_TOV_PCT_Roll_std': 'TM_TOV_PCT_Roll_std_a',
 'EFG_PCT_Roll_std': 'EFG_PCT_Roll_std_a',
 'TS_PCT_Roll_std': 'TS_PCT_Roll_std_a',
 'PACE_Roll_std': 'PACE_Roll_std_a',
 'POSS_Roll_std': 'POSS_Roll_std_a'}

In [88]:
adv_away.rename(columns=columns_away, inplace=True)
adv_home.rename(columns=columns_home, inplace=True)

In [89]:
columns_to_merge.append('GAME_ID')

In [90]:
merged_df = adv_home.merge(adv_away[columns_to_merge], on=['GAME_ID'])

In [91]:
merged_df = merged_df.dropna()

#### Now the data is ready for scaling and one hot encoding

In [92]:
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import OneHotEncoder

In [93]:
X_features_num = [col for col in merged_df.columns if 'GAME_ID' not in col 
                     and 'GAME_DATE' not in col 
                     and 'TEAM_ID' not in col 
                     and 'TEAM_NAME' not in col
                     and 'TEAM_ABBREVIATION' not in col
                     and 'PLUS_MINUS' not in col
                     and 'HOME_TEAM' not in col]

In [94]:
X_features_cat = ['TEAM_ABBREVIATION_h', 'TEAM_ABBREVIATION_a']

In [95]:
preproc_data = merged_df.copy()

In [96]:
scaler = MinMaxScaler()
preproc_data[X_features_num] = scaler.fit_transform(preproc_data[X_features_num])

In [97]:
ohe = OneHotEncoder(sparse=False)
ohe.fit(preproc_data[X_features_cat])
cols = [str(team) +'_h' for team in ohe.categories_[0]] + [str(team) +'_a' for team in ohe.categories_[1]]

/home/alec/.pyenv/versions/nba_betting_analysis/lib/python3.10/site-packages/sklearn/preprocessing/_encoders.py:828: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

In [98]:
preproc_data[cols]=ohe.transform(preproc_data[X_features_cat])

In [99]:
X_features = [col for col in preproc_data.columns if 'GAME_ID' not in col 
                     and 'GAME_DATE' not in col 
                     and 'TEAM_ID' not in col 
                     and 'TEAM_NAME' not in col
                     and 'TEAM_ABBREVIATION' not in col
                     and 'PLUS_MINUS' not in col
                     and 'HOME_TEAM' not in col]

In [100]:
X_preproc = preproc_data[X_features]
y = preproc_data['PLUS_MINUS']

In [104]:
len(preproc_data['TEAM_NAME_h'].unique())

30

In [ ]:
#preproc_data.to_pickle('advanced_preproc_part1.pkl')

In [46]:
#X_preproc.to_pickle('X_preproc_rolling_advanced_part2.pkl')

In [47]:
#y.to_pickle('y_preproc_rolling_advanced_part2.pkl')