In [3]:
from pysbr import *
from datetime import datetime

In [6]:
dt_start = datetime.strptime('2019-01-01', '%Y-%m-%d')
dt_end = datetime.strptime('2020-01-01', '%Y-%m-%d')

In [34]:
import time
import pandas as pd
def make_new_sportsbook_data(start_date, end_date, sb_id):
    nba = NBA()
    sb = Sportsbook()
    e = EventsByDateRange(nba.league_id, start_date, end_date)
    df_e = e.dataframe()
    time.sleep(20)
    ol_ps = OpeningLines(e.ids(), nba.market_id('pointspread'), sb.id(sb_id))
    time.sleep(20)
    ol_t = OpeningLines(e.ids(), nba.market_id('Totals'), sb.id(sb_id))
    time.sleep(20)
    ol_ml = OpeningLines(e.ids(), nba.market_id('money-line'), sb.id(sb_id))
    df_olps = ol_ps.dataframe()
    df_olt = ol_t.dataframe()
    df_olml = ol_ml.dataframe()
    df_ol = pd.concat([df_olt, df_olml, df_olps], axis=0)
    merged_df = pd.merge(df_ol, df_e, how='inner', on='event id')[['event id', 'market id', 'description', 'location', 'datetime_x', 'decimal odds', 'american odds', 'spread / total', 'participants.1.participant id', 'participants.1.source.nickname', 'participants.1.source.short name', 'participants.2.participant id', 'participants.2.source.nickname', 'participants.2.source.short name']]
    return merged_df.sort_values('datetime_x')

In [17]:
dt_start = datetime.strptime('2018-01-01', '%Y-%m-%d')
dt_end = datetime.strptime('2019-01-01', '%Y-%m-%d')
merged_df_2018_2019 = make_new_sportsbook_data(dt_start, dt_end, 'pinnacle')

In [24]:
dt_start = datetime.strptime('2019-01-01', '%Y-%m-%d')
dt_end = datetime.strptime('2020-01-01', '%Y-%m-%d')
merged_df_2019_2020 = make_new_sportsbook_data(dt_start, dt_end, 'pinnacle')

In [25]:
dt_start = datetime.strptime('2020-01-01', '%Y-%m-%d')
dt_end = datetime.strptime('2021-01-01', '%Y-%m-%d')
merged_df_2020_2021 = make_new_sportsbook_data(dt_start, dt_end, 'pinnacle')

In [29]:
dt_start = datetime.strptime('2021-01-01', '%Y-%m-%d')
dt_end = datetime.strptime('2022-01-01', '%Y-%m-%d')
merged_df_2021_2022 = make_new_sportsbook_data(dt_start, dt_end, 'pinnacle')

In [36]:
dt_start = datetime.strptime('2022-01-01', '%Y-%m-%d')
dt_end = datetime.strptime('2023-01-01', '%Y-%m-%d')
merged_df_2022_2023 = make_new_sportsbook_data(dt_start, dt_end, 'pinnacle')

In [18]:
dt_start = datetime.strptime('2023-01-01', '%Y-%m-%d')
dt_end = datetime.strptime('2023-03-05', '%Y-%m-%d')
merged_df_2023 = make_new_sportsbook_data(dt_start, dt_end, 'pinnacle')

In [37]:
df_final = pd.concat([merged_df_2018_2019, merged_df_2019_2020, merged_df_2020_2021, merged_df_2021_2022, merged_df_2022_2023, merged_df_2023], axis=0)

In [38]:
df_final.to_csv('finalised_sportsbook.csv')

In [40]:
df_final.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 43903 entries, 196 to 2371
Data columns (total 14 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   event id                          43903 non-null  int64
 1   market id                         43903 non-null  int64
 2   description                       43903 non-null  object
 3   location                          43903 non-null  object
 4   datetime_x                        43903 non-null  object
 5   decimal odds                      43903 non-null  float64
 6   american odds                     43903 non-null  int64
 7   spread / total                    43903 non-null  float64
 8   participants.1.participant id     43903 non-null  int64
 9   participants.1.source.nickname    43903 non-null  object
 10  participants.1.source.short name  43903 non-null  object
 11  participants.2.participant id     43903 non-null  int64
 12  participants.2.source.nickname    43903 non-null  object
 13  participants.2.source.short name  43877 non-null  object
dtypes: float64(2), int64(5), object(7)
memory usage: 5.0+ MB